@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* { /*Sempre colocar*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
}

.navbar {
    display: flex;
    color: white;
}
.navbar .menu {
    list-style: none; /*Tirar os pontos da lista*/
    display: flex;
    position: fixed;
    left: 145px;
    top: 13px;
}

.navbar .menu a {
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #AAA;
}

.navbar .titulo {
    font-family: 'Oswald', sans-serif;
    padding: 0 15px;
    font-size: 30px;
}

.navbar .titulo .flix {
    color: red;
}

.navbar .menu a:hover { /*Toda vez que o mouse está em cima...*/
    color: white;
}

