@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { /*Sempre colocar*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141414;
}

/*Navbar Start*/
.navbar {
    display: flex;
    color: white;
}
.navbar .menu {
    list-style: none; /*Tirar os pontos da lista*/
    display: flex;
    position: fixed;
    left: 145px;
    top: 13px;
    cursor: pointer; /*Sinaliza que é um botão*/
}

.navbar .menu a {
    padding: 10px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    color: #AAA;
}

.navbar .titulo {
    font-family: 'Oswald', sans-serif;
    padding: 0 15px;
    font-size: 30px;
}

.navbar .titulo .flix {
    color: red;
}

.navbar .menu a:hover { /*Toda vez que o mouse está em cima...*/
    color: white;
}
/*Navbar End*/

/*Principal Start*/
.principal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.principal .demonslayer {
    width: 650px;
    position: fixed;
    right: 200px;
    top: 120px;
}

.principal .texto {
    width: 40%;
    position: fixed;
    top: 200px;
    left: 120px;
}

.principal .principal-lado {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.relevante {
    margin-right: 20px;
    color: rgb(13, 209, 13);
    font: bold;
}

.ano {
    margin-right: 20px;
}

.sinopse {
    font-size: 15px;
}

/*Principal End*/

.melhores-text {
    position: fixed;
    top: 61%;
    left: 7%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font: bold;
}

.filmes {
    position: fixed;
    top: 65%;
    left: 7%;
}

.volei {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.full {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.name {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.death {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.jujutsu {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.attack {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}

.hxh {
    width: 170px;
    height: 250px;
    margin-left: 5px;
}